In [ ]:
#Import libraries
import pandas as pd
import numpy as np
import io
import json
import urllib
import folium
from folium.plugins import MarkerCluster

In [ ]:
#Upload College Data Table from files
from google.colab import files
uploaded = files.upload()

Saving Data-Table 1.csv to Data-Table 1 (1).csv

In [ ]:
#Read and display the Data Table dataset
df = pd.read_csv(io.BytesIO(uploaded['Data-Table 1.csv']))
df

                                               Name  ...  Endowment assets (year end) per FTE enrollment (FASB)
0                          Alabama A & M University  ...                                                NaN
1               University of Alabama at Birmingham  ...                                                NaN
2                                Amridge University  ...                                              302.0
3               University of Alabama in Huntsville  ...                                                NaN
4                          Alabama State University  ...                                                NaN
...                                             ...  ...                                                ...
1529   University of South Florida-Sarasota-Manatee  ...                                                NaN
1530                           The Kingâ€™s College  ...                                              935.0
1531                       Ottawa University-Online  ...                                            20863.0
1532                   Providence Christian College  ...                                              350.0
1533  Polytechnic University of Puerto Rico-Orlando  ...                                                NaN

[1534 rows x 108 columns]

In [ ]:
#Remove all rows w null values in column Applicants total
df2 = df[(df['Applicants total']).notnull()]
df2

                                              Name  ...  Endowment assets (year end) per FTE enrollment (FASB)
0                         Alabama A & M University  ...                                                NaN
1              University of Alabama at Birmingham  ...                                                NaN
3              University of Alabama in Huntsville  ...                                                NaN
4                         Alabama State University  ...                                                NaN
5                        The University of Alabama  ...                                                NaN
...                                            ...  ...                                                ...
1516                          Ave Maria University  ...                                             1670.0
1525     University of South Florida-St Petersburg  ...                                                NaN
1529  University of South Florida-Sarasota-Manatee  ...                                                NaN
1530                          The Kingâ€™s College  ...                                              935.0
1532                  Providence Christian College  ...                                              350.0

[1377 rows x 108 columns]

In [ ]:
#Removed 157 rows (1534 rows -> 1377 rows) 
df2.shape

(1377, 108)

In [ ]:
#Testing to get Point (Lat, Lon, 0) of 1 instance
#Used Nominatim API from GeoPy Library
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="Data-Table 1.csv")
geolocator.geocode("Yale University").point

Point(41.25713055, -72.98966960152231, 0.0)

In [ ]:
#Random sample of 6 univ. and their attributes
geolocator = Nominatim()
df3 = df2.sample(6)
#df2['univ_cord'] = df2['Name'].apply(geolocator.geocode).apply(lambda x: (x.latitude, x.longitude))
df3["loc"] = df3["Name"].apply(geolocator.geocode)
df3["point"]= df3["loc"].apply(lambda loc: tuple(loc.point) if loc else None)
df3[['lat', 'lon', 'altitude']] = pd.DataFrame(df3['point'].to_list(), index=df3.index)
df3

/usr/local/lib/python3.7/dist-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

                                                   Name  ...  altitude
1121  Pennsylvania State University-Penn State Shenango  ...       0.0
1449                                  Northland College  ...       0.0
1206                        Coastal Carolina University  ...       0.0
1213                       Black Hills State University  ...       0.0
200   Embry-Riddle Aeronautical University-Daytona B...  ...       0.0
191                       Trinity Washington University  ...       0.0

[6 rows x 113 columns]

In [ ]:
#Plot map with points using Folium library
m = folium.Map(location=df3[["lat", "lon"]].mean().to_list(), zoom_start=2)
marker_cluster = MarkerCluster().add_to(m)
for i,r in df3.iterrows():
    location = (r["lat"], r["lon"])
    folium.Marker(location=location,
                      popup = r['Name'],
                      tooltip=r['Name'])\
    .add_to(marker_cluster)
m